<% content_for :title, t('.log_in') %>

<section class="edit-form">
	<header>
		<h1>
			<%= t '.log_in' %>
		</h1>
		<p>
			<%= t '.subheader' %>
		</p>
	</header>

  <%= c 'sessions/login_form' %>

</section>
