<% content_for :title, t('.title', name: @user.name, username: @user.username) %>

<section class="container">
  <header>
    <h1>
      <%= @user.name %> <em>@<%= @user.username %></em>
    </h1>
    <p>
      <button type="button" class="btn--primary">
        cLick Me
      </button>
    </p>
  </header>
</section>
