<% content_for :title, t('.title', name: @user.name, username: @user.username) %>

<%= component 'global/container', element: :section do %>
  <header>
    <h1>
      <%= @user.name %> <em>@<%= @user.username %></em>
    </h1>
  </header>
<% end %>
