<% content_for :title, t('.title') %>

<article class="container">
  <header>

    <h1><%= t('.title') %></h1>

    <% if t('.next_steps').any? %>
      <% for step in t('.next_steps') %>
        <p>
          <%= step.html_safe %>
        </p>
      <% end %>
    <% end %>

  </header>

  <%= component 'accounts/usernames/username_form' %>

</article>
