<%= content_for :title, t('.page_title', name: @account.name, username: @account.username) %>

<h1 class="subpage-name">
  <%= followers_with_count @account %>
</h1>

<%= c 'accounts/list', accounts: @accounts, pagy: @pagy %>
<%= c 'global/pagination/incremental', pagy: @pagy %>
